<!-- views/partials/header.ejs -->
<div id="headerimg">
</div>
<nav class="navbar col-sm-12" role="navigation" id="menu">
   <div class="bs-example">

            <ul class="nav nav-tabs" id="menuline">
            <li class="active vrline">
				<a href="#" class = ""  id ="home" value  = "Home">Home</a></li>
            <li class=" vrline"><a href="#" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false"  id ="add_new_player" value  = "Register" >Register as Player</a></li>
			<li class=" vrline"><a href="#" class = "" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" value  = "Admin" id = "admin">Admin</a></li>

      
	</ul>
</div>
</nav>
