<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Awesome</title>
 
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <link rel="stylesheet" href="/stylesheets/admin.css"/>
  <link rel="stylesheet" href="/stylesheets/addteam.css"/>
  <link rel="stylesheet" href="/stylesheets/tournamentsetting.css"/>
  <script src="uuid.js"></script>
 <script src="/javascripts/jquery.min.js"></script>  
 <script src="/javascripts/ejs_0.9_alpha_1_production.js"></script>  
 
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/jquery-ui-1.10.3.custom.min.css">
 
  <script src="/javascripts/bootstrap.min.js"></script>
  
  
  <script src="/javascripts/main.js"></script> 
  <script src="/javascripts/admin.js"></script> 
  
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
<style>
    body    { padding-top:50px; }
</style>
