#tournament_section1 table {
	width:	100%;
	border-spacing: 10px;
    border-collapse: separate;
    font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	
}
#tournament_section1 th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
#tournament_section1 tr {
	background-color:#d4e3e5;
}
#tournament_section1 table td {
	height:50px;
}
#tournament_section1 table td select {
	border: 0 !important;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: #0088cc url(img/select-arrow.png) no-repeat 90% center;
	width: 60%; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
	color: #FFF;
	border-radius: 15px;
	padding: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
	
}

#tournament_section2 table {
	width:	100%;
	border-spacing: 10px;
    border-collapse: separate;
    font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	
}
#tournament_section2 th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
#tournament_section2 tr {
	background-color:#d4e3e5;
}
#tournament_section2 table td {
	height:50px;
}

#tournament_section3 table {
	width:	100%;
	border-spacing: 10px;
    border-collapse: separate;
    font-family: verdana,arial,sans-serif;
	font-size:14px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	
}
#tournament_section3 th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
#tournament_section3 tr {
	background-color:#d4e3e5;
}
#tournament_section3 table td {
	height:50px;
}
.customfieldset {
  display: block !important;
  -webkit-margin-start: 2px !important;
  -webkit-margin-end: 2px !important;
  -webkit-padding-before: 0.35em !important;
  -webkit-padding-start: 0.75em !important;
  -webkit-padding-end: 0.75em !important;
  -webkit-padding-after: 0.625em !important;
  border: 2px groove threedface !important;
  border-image-source: initial !important;
  border-image-slice: initial !important;
  border-image-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  min-width: -webkit-min-content !important;
}

.customlegend {
  display: block !important;
  -webkit-padding-start: 2px !important;
  -webkit-padding-end: 2px !important;
  border: none !important;
  border-image-source: initial !important;
  border-image-slice: initial !important;
  border-image-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
}